<h1>Welcome <%= username %></h1>
<p class="lead mb-3">What would you like to do?</p>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form name = "options" action="/dashboard" method="POST">
        <a href="/withdraw" class="btn btn-primary btn-block">Withdraw cash</a>
        <a href="/deposit" class="btn btn-primary btn-block">Make a deposit</a>
        <a href="/balance" class="btn btn-primary btn-block">Account balance</a>
        <a href="/statements" class="btn btn-primary btn-block">Statements</a>
        <a href="/logout" class="btn btn-primary btn-block">Logout</a>



</form>
</div>
</div>
</div>
